# Third-party packages
django-organizations~=2.5.0
django-extensions>=3.2,<4.2
django-allauth[socialaccount]~=65.14.0
django-phonenumber-field~=8.1.0
phonenumbers~=9.0.10
packaging
django-sesame~=3.2.3

# Editable GitHub fork of openwisp-utils (with rest and celery extras)
-e git+https://github.com/sagar-nexapp/openwisp-utils.git@main#egg=openwisp_utils[rest,celery]

